/* MAIN */

body {
    padding-top: 40px;
}
.main-content {
    padding: 20px 15px;
}

/* FORMS */
.form-inline .form-group {
    padding-left: 0;
    padding-right: 0;
}
.form-inline label {
    line-height: 34px;
    width: 40%;
}
.form-inline .form-control {
    width: 60%;
}
