/* MAIN */

body {
    padding-top: 40px;
}
.main-content {
    padding: 20px 15px;
}

/* FORMS */
.form-inline .form-group {
    padding-left: 0;
    padding-right: 0;
}
.form-inline label {
    line-height: 34px;
    width: 40%;
}
.form-inline .form-control {
    width: 60%;
}

/* MAPS */
#map #svg {
    display: block;
    margin: 0 auto;
    stroke: grey;
    stroke-dasharray: 1;
    stroke-linejoin: round;
}
#map #svg .colorMap {
    fill: #d991d9;
}
#map #svg .basicMap {
    fill: #c3c3c3;
}

/* Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
